@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

html, body {
  font-family: 'Noto Sans KR', Arial, sans-serif !important;
  background-color: #e5f2ff !important;
}

:root {
  overflow-x: hidden;
  /* 메인 컬러 */
  --main-color: #FF7725;
  --bk-color: #161616;

  /* 메인 타이틀 사이즈 */
  --main-title-size: 1.5rem;
  /* 서브 타이틀 사이즈 */
  --sub-title-size: 1.2rem;
  /* 서브 텍스트 사이즈 */
  --sub-text-size: 0.9rem;
  /* 기본 폰트 사이즈 */
  --base-font-size: 16px;
  /* 기본 폰트 두께 */
  --base-font-weight: 400;
}

.main-color { color: var(--main-color) !important; }
.main-title { font-size: var(--main-title-size) !important; }
hr.line {
  border: none;
  border-top: 2px solid var(--main-color);
  height: 0;
  background: transparent;
  max-width: 800px;
  margin: 0 auto;
}



* { margin: 0; padding: 0; box-sizing: border-box; } 

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-size: 100%;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.3;
}

a:not(.btn, .page-link) { 
  color: inherit !important;
  text-decoration: none !important;
  cursor: pointer !important;
}

a, button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}


ul, ol {
    list-style-type: none;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}

p { margin: 0; }



.cursor-pointer { cursor: pointer !important; }
.cursor-not-allowed { cursor: not-allowed; }

/* 넘치는 글씨 ... */
.text-elipsis {
    display: inline-block;
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* 스켈레톤 UI */
.bg-skeleton {
    background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: skeleton-loading 1.5s infinite;
}

@keyframes skeleton-loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

.txt-skeleton-50 {
    width: 50% !important;
    height: 1.2rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.txt-skeleton-50.sm { height: 0.9rem; }
.txt-skeleton-50.lg { height: 2rem; }

.txt-skeleton-100 {
    width: 100% !important;
    height: 1.2rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.txt-skeleton-100.sm { height: 0.9rem; }
.txt-skeleton-100.lg { height: 2rem; }


/* 스크롤 */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #eaeaea;
    border-radius: 10px;
}
*::-webkit-scrollbar-track {
    background: #eaeaea;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background: #bebebe;
    border-radius: 10px;
}


.s-lg { height: 100px !important; }

