<th:block th:fragment="side">
  <div class="app-sidebar">
    <div class="logo">
      <a href="/" class="logo-icon"></a>
      <a href="/" class="text-dark">
        <span class="logo-text" style="display: inline-block; height: 40px; line-height: 40px;">수호대행</span>
      </a>
      <div class="sidebar-user-switcher user-activity-online">
        <a href="#">
          <!-- <img src="../../assets/images/avatars/avatar.png"> -->
          <!-- <span class="activity-indicator"></span> -->
          <span class="user-info-text">관리자<br><span class="user-state-info">admin</span></span>
        </a>
      </div>
    </div>
    <div class="app-menu">
      <ul class="accordion-menu">
        <li class="sidebar-title">
          관리메뉴
        </li>
        <li>
          <a href="/admin" class="active"><i class="material-icons-two-tone">dashboard</i>대시보드</a>
        </li>
        <li>
          <a href="/admin/forms" class="active"><i class="material-icons-two-tone">inventory</i>설문관리</a>
        </li>
        <li>
          <a href="/admin/schedules"><i class="material-icons-two-tone">calendar_today</i>일정관리</a>
        </li>
        <li>
          <a href="/admin/calendar"><i class="material-icons-two-tone">calendar_today</i>캘린더</a>
        </li>
        <li class="sidebar-title">
          고객지원
        </li>
        <li>
          <a href="/admin/notices"><i class="material-icons-two-tone">notifications</i>공지사항</a>
        </li>
        <li>
          <a href="/admin/inquiries"><i class="material-icons-two-tone">email</i>문의사항</a>
        </li>
      </ul>
    </div>
  </div>

  <script>
      document.addEventListener('DOMContentLoaded', function() {
        const currentPath = window.location.pathname;
        const navLinks = document.querySelectorAll('.navbar-nav .nav-link, .accordion-menu a');
        
        navLinks.forEach(link => {
          const href = link.getAttribute('href');
          if (href && currentPath === href) {
            const parentLi = link.closest('li');
            if (parentLi) {
              parentLi.classList.add('active-page');
            }
          }
        });
      });
  </script>

</th:block>